*{
    font-family: "Montserrat", sans-serif; 
}

header{
    background-color: #7286D3;
}
header a{
    color: #FFF2F2;
}
.nav-item a{
    color:#FFF2F2;
}
#boton-perfil{
    background-color: #9DB2BF;
}
.nav-item a:hover{
    color: black;
}
#app{
    color: #8EA7E9;
}
.boton-cv{
    background-color:  #9DB2BF;
    color: #FFF2F2;
}
.contenedor-habilidades{
    background-color:#8EA7E9;
    color:#FFF2F2;
}
.btn-proyecto{
    background-color: #9DB2BF;
}
.btn-proyecto a{
    text-decoration: none;
    color: black;
}

.card .card-title{
    color: #7286D3;
}

#contacto{
    background-color:#8EA7E9;
    color: #FFF2F2;
}

#contacto p{
    color:#FFF2F2;
}
#btn-contacto{
    background-color:#9DB2BF;
    color:#ffffff;
}
#btn-contacto:hover{
    background-color: #ffffff;
    color: black;
}

footer ul li a .bi{
    color: #9DB2BF;
}
footer p{
    color: #7286D3;
}
footer p a{
    text-decoration: none;
    color: #9DB2BF;
    
}

.icono{
    color: #7286D3;
}
.icono:hover{
    color: black;
}
